.gc-main-content .lite-page .qa-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	@media (--md) {
		--arrow-width: 40px;
	}
	&__controls {
		position: absolute;
		width: 100%;
		top: center;
		z-index: 2;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a {
			margin: 0;
			padding: 0;
			line-height: 1;
			pointer-events: auto;
		}
		&__arrow {
			cursor: pointer;
			width: var(--arrow-width);
		}
		@media (--sm) {
			display: none;
		}
	}
	&#slider_vacancies, &#slider_reviews {
		overflow: visible;
		@media (--lg) {
			overflow-x: clip;
		}
		.qa-slider__slides > div {
			padding: * 0;
			background: var(--c-white);
			border: 1px solid var(--c-black);
			margin-right: var(--arrow-width);
			padding: 66px 38px 56px 18px;
			position: relative;
			&:after {
				content: '';
				z-index: 2;
				display: block;
				position: absolute;
				background: var(--c-brand);
				top: calc(100% + 12px);
				height: 36px;
				width: calc(100% + 38px);
				left: 0;
				clip-path: polygon(2% 0, 0 100%, 100% 0);
			}
			@media (--sm) {
				margin: 0;
				padding: 2rem 1rem;
			}
		}
		.qa-slider__controls {
			justify-content: flex-end;
		}
	}

	&#slider_mentors {
		@media (--lg) {
			overflow-x: clip;
		}
		.qa-slider__slides > div {
			padding: * 0;
			margin-right: var(--arrow-width);
			padding: 66px 38px 56px 18px;
			position: relative;
			@media (--sm) {
				margin: 0;
				padding: 2rem 1rem;
			}
			picture > *,
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.qa-slider__controls {
			justify-content: flex-end;
		}
	}
	&__counter {
		position: absolute;
		left: var(--arrow-width);
		z-index: 2;
		top: 0;
		@media (--md) {
			display: none;
		}
	}
	&__slides {
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
		display: flex;
		> div {
			position: relative;
			float: left;
			display: inline-flex;
			align-items: flex-start;
			justify-content: space-between;
			width: calc(100vw - var(--side-padding) * 2);
			padding: * var(--arrow-width);
			gap: var(--inner-padding);
			flex-wrap: wrap;
			@media (--lg-m) {
				gap: 2rem;
			}
			@media (--sm) {
				padding: * 0;
				gap: 1rem;
			}
			> div {
				flex: 0 0 calc(50% - var(--inner-padding) / 2);
				@media (--lg-m) {
					flex: 1 1 100%;
					&.description {
						margin-top: 1rem;
					}
				}
				&.left {
					padding-left: var(--inner-padding);
					@media (--lg-m) {
						padding-left: 3rem;
					}
				}
				&.right {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					@media (--lg-m) {
						flex: 0 1 60%;
						margin: * auto;
					}
					img {
						object-fit: contain;
						width: 92%;
						height: auto;
						position: absolute;
						top: 6.5%;
						left: 3.6%;
					}
				}
				h2 {
					margin-bottom: 1.5em;
				}
			}
		}
		&.slides-2 {
			> div {
				width: calc((100vw - var(--side-padding) * 2) / 2);
				flex-direction: column;
				gap: 2rem;
				@media (--lg-m) {
					width: 100%;
					flex-direction: row;
					gap: 0;
					margin-left: var(--arrow-width);
				}
				@media (--lg-m) {
					flex-wrap: wrap;
				}
				.option {
					@media (--lg-m) {
						margin-top: 1rem;
					}
					@media (--lg-m) {
						flex: 1 1 100%;
					}
				}
			}
		}
		&.slides-3 {
			> div {
				width: calc((100vw - var(--side-padding) * 3) / 3);
				flex-direction: column;
				gap: 1rem;
				justify-content: flex-start;
				padding: 8px 38px 8px 18px;
				@media (--lg-m) {
					width: 100%;
					flex-direction: row;
					gap: 0;
					margin-left: var(--arrow-width);
				}
				@media (--lg-m) {
					flex-wrap: wrap;
				}
				> div {
					flex: unset;
				}
			}
		}
	}
}
