.start-composition {
	--margin-1: 30px;
	--margin-2: 30px;
	@media (--lg) {
		--margin-1: 20px;
		--margin-2: 20px;
	}
	&__top,
	&__bottom {
		display: flex;
		justify-content: center;
	}
	&__top {
		gap: 41px;
		align-items: flex-end;
	}
	&__bottom {
		gap: 27px;
		margin-top: calc(var(--margin-1) * -1);
		width: calc(100% - 19px);
		align-items: flex-start;
	}
	svg {
		flex: 0 0 calc(50% - 41px / 2);
		height: auto;
		.black {
			fill: var(--c-black);
		}
		.green {
			fill: var(--c-brand);
		}
		.white {
			fill: var(--c-white);
		}
		.gray {
			fill: var(--c-gray);
		}
	}
	&__left {
		.white2 {
			fill: none;
			stroke: var(--c-white);
			stroke-width: 0.5px;
		}
		.text {
			font-size: 1rem;
			font-weight: 700;
		}
		.text tspan {
			font-size: 0.8333rem;
			font-weight: 400;
		}
		.letters {
			font-size: 0.888888rem;
			font-weight: 400;
		}
	}
	&__right {
		.stroke1 {
			fill: var(--c-white);
			stroke: var(--c-black);
		}
		circle {
			fill: #333333;
		}
	}
	&__left2 {
		margin-top: var(--margin-1);
		line {
			fill: none;
			stroke: #000;
		}

		text {
			font-size: 15px;
			font-family: Montserrat-Regular, Montserrat;
		}

		.five-k {
			font-size: 2.222rem;
			font-weight: 700;
		}
	}
	&__right2 {
		.c {
			fill: none;
			stroke: var(--c-black);
			stroke-width: 3px;
		}
		.text {
			font-size: 1rem;
			font-weight: 600;
			fill: var(--c-white);
		}
	}
}
