.hidden {
	display: none;
}

/* Адаптивность */
@custom-media --lg (max-width: 1600px);
@custom-media --md (max-width: 852px);
@custom-media --sm (max-width: 480px);

:root {
	--c: 1;
	--side-padding: 204px;
	--content-indents: calc(52px * var(--c));
	--inner-padding: calc(100px * var(--c));
	--block-indents: calc(200px * var(--c));

	/* for getcouse */
	/* --block-indents: calc(100px * var(--c)); */

	--font-size: 18px;
	--line-height: 1.66666;
	--arrow-width: calc(78px * var(--c));
	@media (--lg) {
		--c: 0.85;
	}
}

/* Глобальные стили */

/* Убрать дёрганье от скроллбара */
/* html {
overflow-x: hidden;
margin-right: calc(-1 * (100vw - 100%));
} */

html,
body {
	font-size: var(--font-size);
}

body {
	/* &.not-webp {
		picture > source[type*='webp'] {
			display: none;
		}
	} */
}

.gc-main-content .lite-page {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	color: var(--c-black) var(--c-bg);
	line-height: var(--line-height);
	a,
	a:focus,
	a:active,
	a:hover {
		transition: color var(--transition);
		text-decoration: none;
	}
	a:hover {
		color: var(--c-brand);
	}
}
