.hidden {
	display: none;
}
.gc-user-admin .lite-margined-wrapper {
	max-width: 100%;
}

/* Адаптивность */
@custom-media --lg (max-width: 1580px);
@custom-media --lg-m (max-width: 1199px);
@custom-media --md (max-width: 851px);
@custom-media --sm (max-width: 519px);

:root {
	--c: 1;
	--f: 1;

	/* for getcouse */
	--f: 0.5;

	--side-padding: 204px;
	--content-indents: calc(52px * var(--c));
	--inner-padding: calc(100px * var(--c));
	--block-indents: calc(200px * var(--c) * var(--f));


	--font-size: calc(18px * var(--c));
	--line-height: 1.66666;
	--arrow-width: calc(78px * var(--c));
	@media (--lg) {
		--c: 0.8;
		--font-size: calc(18px * var(--c));
		--side-padding: 48px;
		--block-indents: calc(150px * var(--f));
	}
	@media (--lg-m) {
		--side-padding: 42px;
		--block-indents: calc(120px * var(--f));
	}
	@media (--md) {
		--side-padding: 18px;
		--inner-padding: calc(80px * var(--c));
		--content-indents: calc(40px * var(--c));
		--block-indents: calc(100px * var(--f));
		--font-size: 12px;
	}
	@media (--sm) {
		--block-indents: calc(50px * var(--f));
	}
}

/* Глобальные стили */

/* Убрать дёрганье от скроллбара */
/* html {
overflow-x: hidden;
margin-right: calc(-1 * (100vw - 100%));
} */

html,
body {
	font-size: var(--font-size);
}

body {
	/* &.not-webp {
		picture > source[type*='webp'] {
			display: none;
		}
	} */
}

.gc-main-content .lite-page {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	color: var(--c-black) var(--c-bg);
	line-height: var(--line-height);
	.lt-block {
		max-width: 100%;
		overflow-x: clip;
	}
	a,
	a:focus,
	a:active,
	a:hover {
		transition: color var(--transition);
		text-decoration: none;
	}
	a:hover {
		color: var(--c-brand);
	}
}
