.gc-main-content .lite-page {
	.main-logo {
		.prefix__a {
			fill: var(--c-brand);
		}
		.prefix__b {
			fill: var(--c-gray);
		}
	}
	.main-header {
		box-shadow: var(--shadow);
	}
	.main-footer {
		background: var(--c-white);
	}

	--header-height: calc(7.8888rem * var(--c));
	@media (--lg-m) {
		--header-height: calc(6.5rem * var(--c));
	}
	@media (--md) {
		--header-height: calc(6rem * var(--c));
	}
	@media (--sm) {
		--header-height: calc(5rem * var(--c));
	}

	.main-header,
	.main-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: calc(2.77rem * var(--c));
		align-items: center;
		line-height: 1;
		height: var(--header-height);
		padding: 0 var(--side-padding);

		&__logo {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			svg {
				height: calc(1.6666rem * var(--c));
				width: auto;
			}
		}
		&__menu {
			@media (--md) {
				display: none;
			}
			margin: 0;
			padding: 0;
			ul {
				display: flex;
				margin-bottom: 0;
				list-style-type: none;
				padding-inline-start: 0;
				gap: calc(2.77rem * var(--c));
			}
			a {
				padding: 0.55em 0;
			}
		}
		&__login {
			@media (--sm) {
				font-size: 0.8em;
			}
			a {
				padding: 0.55em 0;
			}
		}
		&__questions {
			display: flex;
			flex-direction: column;
			gap: 0.666em;
		}
	}

	/* fixed header */
	.lt-block-wrapper .container-std.start-block {
		margin-top: calc(var(--header-height) + 1rem);
	}
	.main-header {
		position: fixed;
		width: 100%;
		z-index: 50;
		background: var(--c-white);
	}

	.main-footer {
		margin-bottom: 0;
		@media (--sm) {
			flex-direction: column;
			margin-bottom: 2rem;
			height: unset;
			&__questions {
				width: 100%;
			}
		}
	}
}
