.gc-main-content .lite-page {
	.main-logo {
		.prefix__a {
			fill: var(--c-brand);
		}
		.prefix__b {
			fill: var(--c-gray);
		}
	}
	.main-header {
		box-shadow: var(--shadow);
	}
	.main-footer {
		background: var(--c-white);
	}

	--header-height: calc(7.8888rem * var(--c));
	@media (--lg-m) {
		--header-height: calc(6.5rem * var(--c));
	}
	@media (--md) {
		--header-height: calc(6rem * var(--c));
	}
	@media (--md) {
		--header-height: calc(5rem * var(--c));
	}

	.main-header,
	.main-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: calc(2.77rem * var(--c));
		align-items: center;
		line-height: 1;
		height: var(--header-height);
		padding: 0 var(--side-padding);

		&__logo {
			gap: 0.5rem;
			display: flex;
			flex-direction: column;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			svg {
				height: calc(1.6666rem * var(--c));
				width: auto;
				@media (--md) {
					height: auto;
					width: 6.166rem;
				}
			}
		}
		&__menu {
			margin: 0;
			padding: 0;
			ul {
				display: flex;
				margin-bottom: 0;
				list-style-type: none;
				padding-inline-start: 0;
				gap: calc(2.77rem * var(--c));
			}
			a {
				padding: 0.55em 0;
			}
			@media (--md) {
				position: fixed;
				display: none;
				right: 0;
				top: 0;
				background: var(--c-white);
				padding: 6.333rem 20px;
				min-height: 80vh;
				ul {
					flex-direction: column;
				}
				a {
					font-size: 1.166rem;
					font-weight: 600;
				}
			}
		}
		&.active {
			@media (--md) {
				.main-header__menu {
					display: flex;
				}
			}
		}
		&__button {
			display: none;
			position: fixed;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			right: var(--side-padding);
			top: 2rem;
			width: 2.083rem;
			height: 15px;
			transform: translate(0, -50%);
			cursor: pointer;
			transition: all var(--transition);

			div {
				position: absolute;
				background: var(--c-black);
				width: 2.083rem;
				height: 3px;
				z-index: 2;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);
				transition: all var(--transition);
				top: calc(50% - 2px);
				left: 50%;
			}
			div:nth-child(1) {
				top: 0;
			}
			div:nth-child(2) {
				top: unset;
				bottom: 0;
			}
			z-index: 2;
			@media (--md) {
				display: flex;
				&.active {
					div:nth-child(1) {
						top: 50%;
						transform: translate(-50%, -50%) rotate(45deg);
					}
					div:nth-child(2) {
						top: 50%;
						transform: translate(-50%, -50%) rotate(-45deg);
					}
					div:nth-child(3) {
						width: 0;
					}
				}
			}
		}
		&__login {
			a {
				padding: 0.55em 0;
			}
			@media (--md) {
				display: none;
			}
		}
		&__questions {
			display: flex;
			flex-direction: column;
			gap: 0.666em;
		}
	}

	/* fixed header */
	.lt-block-wrapper .container-std.start-block {
		margin-top: calc(var(--header-height) + 1rem);
	}
	.main-header {
		position: fixed;
		width: 100%;
		z-index: 50;
		background: var(--c-white);
		@media (--md) {
			background: var(--c-bg);
			box-shadow: none;
		}
	}

	.main-footer {
		margin-bottom: 0;
		@media (--sm) {
			flex-direction: column;
			margin-bottom: 2rem;
			height: unset;
			&__questions {
				width: 100%;
			}
		}
	}
}
