html,
body {
	min-height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gc-main-content,
.lite-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	flex: 1 1;
}
.lite-page {
	justify-content: space-between;
}
.lite-page > * {
	flex: 0 1;
}
.lt-block {
	width: 100%;
}
/* .lt-block:nth-child(4) {
	flex: 1 1;
} */
.lt-block:nth-child(2) {
	flex: 1 1;
}
