.gc-main-content .lite-page {
	svg {
		height: auto;
	}
	/* Buttons */
	a.button,
	a.has-arrow,
	button,
	.need-arrow {
		display: flex;
		align-items: center;
		gap: 0.5em;
		width: fit-content;
	}
	a.button,
	button,
	.btn.f-btn.button-md {
		border-radius: 0;
		border: none;
		color: var(--c-white) var(--c-black) !important;
		font-family: inherit;
		padding: calc(10px * var(--c)) calc(48px * var(--c));
		transition: var(--transition);
		transition-property: color, background-color;
		min-height: unset;
		font-size: 1rem;
		font-weight: 400;
		&:hover {
			color: var(--c-black) var(--c-brand) !important;
		}
		&.lg-arr {
			svg {
				height: 2.5rem;
				transform: rotate(-90deg);
				margin-left: 2rem;
			}
		}
	}
	.black {
		a.button,
		button,
		.btn.f-btn.button-md {
			color: var(--c-black) var(--c-white) !important;
			svg {
				color: var(--c-brand);
			}
			&:hover {
				color: var(--c-black) var(--c-brand) !important;
				svg {
					color: var(--c-white);
				}
			}
		}
	}
	svg {
		&.arrow-min {
			width: 1em;
		}
	}
	.full-width-button {
		margin-top: var(--inner-padding);
		width: 100%;
		display: flex;
		justify-content: center;
		button {
			padding: * var(--inner-padding);
		}
	}

	/* Fonts */
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
	}

	/* Обложка заголвок */
	h1,
	.title {
		font-weight: 700;
		font-size: 2.888rem;
		line-height: 1.3461;
		@media (--sm) {
			font-size: 1.8rem;
		}
	}
	/* Заголовок 1 */
	h2,
	.header1 {
		font-weight: 600;
		font-size: 1.944rem;
		line-height: 0.9714;
		@media (--sm) {
			line-height: 1.2;
		}
	}
	/* Заголовок 2 */
	h3,
	.header2 {
		font-weight: 600;
		font-size: 1.3888rem;
		line-height: 1.36;
	}
	/* Обложка подзаголовок */
	h4,
	.subtitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.666;
	}
	/* Основной текст */
	p,
	h5,
	.std-txt {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.666;
	}
	/* Сервисный текст */
	.service-txt {
		font-weight: 400;
		font-size: 0.8333rem;
		line-height: 1.666;
	}
	.service-txt.bold {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.666;
	}
	.block-title {
		margin-bottom: 5.555rem;
		@media (--sm) {
			margin-bottom: 3rem;
		}
	}

	/* Lists */
	.list {
		&-start {
			list-style: none;
			padding-inline-start: 0;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			gap: 1em;
			li {
				display: flex;
				align-items: center;
				gap: 1rem;
				&:before {
					content: '';
					display: inline-block;
					size: 25px;
					background-color: var(--c-brand);
					border-radius: 50%;
				}
			}
		}
		&-what-ull-learn {
			padding-inline-start: 0;
			list-style: none;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin-left: -1.8rem;
			li {
				display: flex;
				align-items: flex-start;
				gap: 1.8rem;
				&:before {
					content: '';
					position: relative;
					top: 0.5em;
					display: block;
					flex: 0 0 10px;
					size: 10px;
					border-radius: 50%;
					background-color: var(--c-brand);
				}
			}
		}
	}
	/* Blocks */
	.container {
		&-std {
			padding: * var(--side-padding);
			margin: var(--block-indents) *;
			&.start-block {
				margin-top: 1rem;
				@media (--lg) {
					margin-top: 4rem;
				}
				@media (--sm) {
					margin-top: 2rem;
				}
			}
			&.black {
				color: var(--c-white) var(--c-black);
			}
		}
		&-blocks-bridge {
			margin: calc(var(--block-indents) * -1 + 21px)
				calc(var(--side-padding) + 30px) calc(var(--block-indents) * -1)
				var(--inner-padding);
			display: flex;
			@media (--sm) {
				display: none;
			}
		}
	}

	.f {
		display: flex;
		gap: var(--content-indents);
		flex-wrap: wrap;
		&:not(.col) {
			align-items: center;
		}
		&.top {
			align-items: flex-start;
		}
		&.col {
			flex-direction: column;
		}
		&-2 {
			> * {
				flex: 0 1
					calc(
						100% / 2 - var(--content-indents) + var(--content-indents) / 2
					);
				@media (--lg-m) {
					flex: 0 1 100%;
				}
				@media (--sm) {
					max-width: 100%;
				}
			}
		}
		&-3 {
			> * {
				flex: 0 1
					calc(
						100% / 3 - var(--content-indents) + var(--content-indents) / 3
					);
				@media (--lg-m) {
					flex: 0 1 100%;
				}
			}
		}
	}

	/* Who this course is for block */
	.this-course-for {
		> div {
			position: relative;
			background: var(--c-white);
			padding: 3.95rem 1.95rem 4.5rem 2.72rem;
			--content-indents: calc(100px * var(--c));
			align-items: flex-start;
			@media (--sm) {
				padding: 0;
			}
			div {
				position: relative;
				z-index: 2;
				h3 {
					margin-bottom: 2.777rem;
					min-height: 4em;
					@media (--lg) {
						margin-bottom: 1.6rem;
					}
				}
				svg {
					color: var(--c-brand);
					height: 2.777rem;
					margin-bottom: 2.777rem;
					@media (--lg) {
						margin-bottom: 1.6rem;
					}
				}
				p {
				}
			}
			&:before,
			&:after {
				content: '';
				border: 2px solid var(--c-black);
				size: 100%;
				left: 0;
				top: 0;
				position: absolute;
				display: block;
				background: var(--c-white);
				@media (--sm) {
					display: none;
				}
			}
			&:before {
				left: -30px;
				top: 21px;
				background: var(--c-black);
			}
		}
	}
	.what-is-qa {
		padding: var(--inner-padding) *;
		margin-left: var(--inner-padding);
		padding-left: calc(var(--side-padding) - var(--inner-padding));
		@media (--lg) {
			padding-left: calc(var(--side-padding));
		}
		@media (--sm) {
			margin-left: 0;
			padding: 3rem *;
		}
		.block-title {
			margin-bottom: 4.16rem;
		}
		.header2 {
			margin-top: 1em;
		}
		a.button,
		button {
			margin-top: 4.16rem;
		}
		.f {
			gap: 230px;
			flex-wrap: wrap;
			@media (--lg) {
				gap: 4rem;
			}
			div {
				&:nth-child(1) {
					flex: 0 0 30%;
					@media (--lg) {
						flex: 1 0 100%;
					}
				}
				&:nth-child(2) {
					flex: 1 1;
					@media (--lg) {
						flex: 1 0 100%;
					}
					svg {
						.bg {
							fill: var(--c-white);
						}

						.line {
							fill: var(--c-brand);
						}

						.stroke {
							fill: none;
							stroke: var(--c-black);
							stroke-width: 0.5px;
						}
					}
				}
			}
		}
	}
	.what-ull-learn {
		.block-title {
			margin-bottom: 50px;
		}
		hr {
			border-top: 1px solid var(--c-brand);
			margin: 50px *;
		}
		&__pc {
			.green {
				fill: var(--c-brand);
			}

			.black {
				fill: var(--c-black);
			}

			.white {
				fill: var(--c-bg);
			}
		}
		@media (--sm) {
			.full-width-button {
				display: none;
			}
		}
	}
	.what-after-course {
		--top: 74px;
		--bottom: 21px;
		--left: 40px;
		--right: 83px;
		--padding: 104px;
		--padding-top: 68px;
		@media (--sm) {
			--top: 0;
			--bottom: 0;
			--left: 0;
			--right: 0;
			--padding: 0;
			--padding-top: 0;
			padding: 0;
		}
		&__container {
			position: relative;
			z-index: 2;
			padding: var(--padding-top) var(--left) var(--padding)
				calc(var(--padding) + var(--left));
			@media (--sm) {
				padding: var(--side-padding);
			}
			&:after,
			&:before {
				content: '';
				position: absolute;
				display: block;
				z-index: -1;
			}
			&:after {
				background: var(--c-brand);
				top: 0;
				bottom: 0;
				left: var(--left);
				right: 0;
				clip-path: polygon(0 0, 100% 10%, 100% 92%, 0% 100%);
				@media (--lg) {
					clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
				}
				@media (--sm) {
					clip-path: none;
				}
			}
			&:before {
				background: var(--c-black);
				top: var(--top);
				bottom: calc(var(--bottom) * -1);
				left: 0;
				right: var(--right);
				clip-path: polygon(2% 8%, 100% 13%, 100% 89%, 0% 100%);
				@media (--lg) {
					clip-path: polygon(3% 8%, 100% 16%, 100% 91%, 0% 100%);
				}
				@media (--sm) {
					clip-path: none;
				}
			}
		}
		&__top {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: var(--content-indents);
			margin-bottom: calc(82px * var(--c));
			.man-pic {
				size: 150px;
				background: var(--c-bg);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: calc(20px * var(--c));
				svg {
					size: 100%;
					position: relative;
					left: -5px;
				}
				@media (--lg) {
					size: 120px;
					svg {
						left: -2px;
					}
				}
			}
			> div:nth-child(2) {
				flex: 1 1 50%;
				@media (--lg) {
					flex: 1 1 60%;
				}
			}
			> div:nth-child(3) {
				flex: 1 1 25%;
				@media (--lg) {
					flex: 1 1 60%;
					margin-left: calc(120px + var(--content-indents));
				}
				@media (--sm) {
					margin-left: 0;
				}
			}
			h2 {
				margin-bottom: 40px;
			}
		}
		&__bottom {
			--gap: 40px;
			> ul {
				list-style: none;
				padding-inline-start: 0;
				margin-bottom: 0;
				display: flex;
				flex-wrap: wrap;
				gap: var(--gap);
				@media (--lg) {
					gap: 1em;
				}
				> li {
					flex: 0 0 calc(100% / 3 - var(--gap) + var(--gap) / 3);
					@media (--lg) {
						flex: 1 1 100%;
					}
					> ul {
						list-style: disc;
						padding-inline-start: 1.5em;
						display: flex;
						flex-direction: column;
						gap: 1em;
						li {
							padding-left: 0.5em;
							&::marker {
								font-size: 1.2em;
								line-height: 1;
								position: relative;
							}
						}
					}
				}
			}
		}
	}
	.vacancies {
		.full-width-button {
			margin-top: 150px;
			@media (--sm) {
				margin-top: 80px;
			}
		}
	}
	.who-teach {
		--size: 620px;
		overflow: hidden;
		@media (--lg) {
			padding-bottom: var(--block-indents);
			margin-bottom: 0;
			--size: 620px;
		}
		@media (--md) {
			padding-bottom: 0;
		}
		&__container {
			border-top: 1px solid var(--c-brand);
			margin-top: 44px;
			padding-top: 44px;
			display: flex;
			align-items: center;
			min-height: var(--size);
			@media (--sm) {
				flex-direction: column;
			}
			.numbers,
			.titles {
				> div {
					min-height: 5rem;
					margin-bottom: 1.2rem;
					transition: var(--transition);
					transition-property: color, border-color, font-size;
					&:not(.active) {
						cursor: pointer;
						@media (--sm) {
							cursor: auto;
						}
					}
					&.active {
						font-size: 1.38rem;
						color: var(--c-brand);

						@media (--sm) {
							font-size: 1rem;
							color: var(--c-black);
						}
					}
					@media (--sm) {
						min-height: unset;
						margin-bottom: 1rem;
					}
				}
			}
			.numbers {
				flex: 0 0 3%;
				@media (--lg) {
					flex: 0 0 3rem;
				}
				@media (--md) {
					display: none;
				}
			}
			.titles {
				flex: 0 0 22%;
				@media (--lg) {
					flex: 0 1 30%;
				}
				@media (--md) {
					flex: 0 1 40%;
				}
				@media (--sm) {
					display: none;
				}
			}
			.content {
				flex: 0 0 calc(75% - 160px);
				margin-left: 160px;
				max-height: var(--size);
				position: relative;
				display: flex;
				align-items: center;
				min-height: var(--size);
				@media (--lg) {
					flex: 1 1 calc(65% - 40px - 3rem);
					margin-left: 40px;
					max-height: unset;
					height: var(--size);
				}
				@media (--md) {
					flex-direction: column;
				}
				@media (--sm) {
					position: static;
					flex-direction: column;
					margin-left: 0;
				}
				&:before,
				&:after {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					size: var(--size);
					background: var(--c-black);
					@media (--lg-m) {
						display: none;
					}
				}
				&:before {
					content: '';
					position: absolute;
					z-index: 2;
					left: calc(var(--size) * 0.2);
					size: calc(var(--size) * 0.74);
					background: var(--c-white);
				}
				.item {
					--gap: 42px;
					--padding: 82px 66px 112px 48px;
					@media (--lg) {
						--padding: 41px 33px 56px 24px;
					}
					position: absolute;
					left: calc(var(--size) * 0.33);
					right: 0;
					z-index: 3;
					color: var(--c-white) var(--c-black);
					padding: var(--padding);
					display: flex;
					align-items: center;
					gap: var(--gap);
					clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
					transform: translateX(100vw);
					transition: var(--transition);
					transition-property: transform;
					@media (--lg) {
						clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
						height: calc(var(--size) - var(--gap) * 4);
					}
					@media (--lg-m) {
						left: var(--gap);
					}
					@media (--md) {
						clip-path: none;
						background: none;
						padding: 0;
						flex-direction: column;
						align-items: flex-start;
					}
					@media (--sm) {
						position: static;
						transform: translateX(0);
						margin-bottom: 4rem;
						height: unset;
						align-items: flex-start;
					}
					&.active {
						transform: translateX(0);
					}
					.left {
						flex: 0 0 calc(100% / 3 - var(--gap) / 2);
						@media (--lg) {
							flex: 0 1 50%;
						}
						img {
							object-fit: contain;
							size: 100%;
						}
					}
					.right {
						flex: 0 0 calc(100% / 3 * 2 - var(--gap) / 2);
						@media (--lg) {
							flex: 1 1 100%;
						}
					}
					h3 {
						color: var(--c-brand);
					}
					.description {
						margin-top: 2rem;
						@media (--md) {
							color: var(--c-black);
						}
					}
				}
			}
		}
	}
	.how-we-teach {
		overflow: hidden;
		position: relative;
		&__container {
			position: relative;
			@media (--lg) {
				display: flex;
				gap: 3rem;
				align-items: flex-start;
			}
			.top {
				display: flex;
				align-items: stretch;
				justify-content: space-around;
				height: 104px;
				@media (--lg) {
					flex-direction: column;
					height: unset;
					align-items: flex-start;
					flex: 1 1 20%;
					gap: 1rem;
				}
				@media (--lg-m) {
					display: none;
				}
				&__item {
					border-bottom: 20px solid var(--c-black);
					flex: 1 1;
					text-align: center;
					color: var(--c-black);
					font-size: 0.9rem;
					padding: * 0.5rem;
					transition: var(--transition);
					transition-property: color, border-color;
					@media (--lg) {
						border-bottom: none;
						text-align: left;
						flex: 0 1;
					}
					&.active {
						font-size: 1.2rem;
						color: var(--c-brand);
						border-color: var(--c-brand);
						flex: 1 1 12%;
						transition: all var(--transition);
						@media (--lg) {
							flex: 0 1;
						}
					}
					&:not(.active) {
						cursor: pointer;
						user-select: none;
					}
				}
			}

			.items {
				position: relative;
				margin-top: var(--inner-padding);
				@media (--lg) {
					margin-top: 0;
					flex: 1 1 80%;
				}
				@media (--lg-m) {
					display: flex;
					flex-direction: column;
					gap: 4rem;
				}
				.item {
					top: 0;
					left: 0;
					transition: transform var(--transition);
					transform: translateX(100vw);
					position: absolute;
					display: flex;
					gap: 4rem;
					max-width: 100%;
					@media (--lg-m) {
						position: relative;
						transform: translateX(0);
						width: 100%;
					}
					@media (--sm) {
						flex-direction: column;
					}
					.left {
						flex: 0 0 calc(40% - 2rem);
						img {
							object-fit: contain;
							size: 100%;
						}
					}
					.right {
						flex: 0 0 calc(60% - 2rem);
						max-width: 100%;
						> * {
							width: 100%;
						}
					}
					&.active {
						transform: translateX(0);
					}
					.item-title {
						margin-bottom: 2rem;
					}
					@media (--lg) {
						.left {
						}
					}
				}
			}
		}
	}
	.course-program {
		&__container {
			position: relative;
			overflow-x: hidden;
		}
		&__item {
			display: flex;
			gap: var(--inner-padding);
			@media (--lg) {
				gap: 20px;
			}
			@media (--sm) {
				flex-direction: column;
				gap: 0;
			}
			&__number,
			&__title {
				transition: var(--transition);
				transition-property: color, font-size;
				margin-bottom: 1rem;
				min-height: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				@media (--sm) {
					min-height: unset;
				}
			}
			&__number {
				flex: 0 0 2rem;
				text-align: right;
				@media (--sm) {
					display: none;
				}
			}
			&__title {
				flex: 0 0 25%;
				@media (--sm) {
					font-weight: 600;
					font-size: 1.3888rem;
					line-height: 1.36;
				}
			}
			&__description {
				flex: 1 1;
				position: absolute;
				left: calc(28% + var(--inner-padding));
				top: 0;
				transform: translateX(200vw);
				transition: var(--transition);
				transition-property: transform;
				padding-top: 1rem;
				@media (--sm) {
					position: static;
					transform: translateX(0);
					padding-top: 0;
					margin-bottom: 2rem;
				}
			}
			&.active {
				color: var(--c-brand);
				font-size: 1.38rem;
				.course-program__item__description {
					color: var(--c-black);
					font-size: 1rem;
					transform: translateX(0);
				}
				@media (--sm) {
					font-size: 1rem;
					color: var(--c-black);
				}
			}
			&:not(.active) {
				cursor: pointer;
				@media (--sm) {
					cursor: auto;
				}
			}
		}
		.full-width-button {
			margin-top: 0;
			position: absolute;
			bottom: 0;
			left: calc(28% + var(--inner-padding));
			width: calc(100% - (28% + var(--inner-padding)));
			@media (--sm) {
				display: none;
			}
		}
	}
	.course-price {
		--padding: 74px;
		--padding-bottom: 60px;
		--padding-wrapper: var(--padding-bottom) 36px;
		--gap: 70px;
		padding: var(--padding) *;
		&__container {
			display: flex;
			gap: var(--gap);
			@media (--lg-m) {
				flex-direction: column;
			}
		}
		.wrapper {
			color: var(--c-black) var(--c-white);
			padding: var(--padding-wrapper);
			flex: 1;
			position: relative;
			@media (--lg-m) {
				width: 100%;
			}
		}
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}
		h3 {
			margin-bottom: 1em;
		}
		ul {
			list-style: disc;
			padding-inline-start: 1.5em;
			display: flex;
			flex-direction: column;
			gap: 1em;
			li {
				padding-left: 0.2em;
				&::marker {
					font-size: 0.7em;
					line-height: 1;
					position: relative;
				}
			}
		}
		&__button-block {
			display: flex;
			div {
				padding: calc(10px * var(--c)) calc(24px * var(--c));
				color: var(--c-black) var(--c-white);
				margin-right: 1px;
				text-align: center;
			}
			a.button,
			button {
				color: var(--c-black) var(--c-brand) !important;
			}
		}
		a.header2 {
			cursor: pointer;
		}
		&__more {
			&.content {
				border: 1px solid var(--c-brand);
				background: var(--c-white);
				position: absolute;
				padding: 0.35rem;
				left: 1rem;
				bottom: calc(var(--padding-bottom) - 0.5rem);
				transform: translateY(100%);
				width: calc(100% - 2rem);
				pointer-events: none;
				opacity: 0;
				ul {
					gap: 0.25em;
					padding-inline-start: 1em;
				}
				li {
					font-size: 0.75rem;
					padding-left: 0;
					line-height: 1.4;
				}
				&.active {
					pointer-events: auto;
					opacity: 1;
					transition: opacity var(--transition);
				}
			}
		}
	}
	.career {
		.f {
			gap: var(--inner-padding);
			align-items: flex-start;
			margin-bottom: calc(86px / var(--c));
			justify-content: space-between;
			align-items: stretch;
			@media (--lg) {
				flex-direction: column;
			}
			h2 {
				flex: 0 1 25%;
				margin-bottom: 0;
				white-space: nowrap;
			}
			p {
				flex: 1 1;
			}
		}
		&__container {
			display: flex;
			gap: var(--inner-padding);
			justify-content: space-between;
			align-items: stretch;
			@media (--sm) {
				flex-direction: column;
				gap: 0;
			}
		}
		&__menu {
			flex: 0 1 25%;
			border-right: 1px solid var(--c-black);
			@media (--lg) {
				flex: 0 1 35%;
			}
			@media (--sm) {
				border-right: none;
			}
			> div {
				display: flex;
				gap: 0.5rem;
				margin-bottom: 2rem;
				min-height: 5rem;
				transition: var(--transition);
				transition-property: color, font-size;
				p {
					transition: var(--transition);
					transition-property: color, font-size;
				}
				span {
					flex: 0 0 2rem;
					cursor: pointer;
				}
				p {
					flex: 1 1;
					text-align: right;
					padding-right: calc(var(--inner-padding) / 2);
					cursor: pointer;
					@media (--sm) {
						padding-right: 0;
						text-align: left;
					}
				}
				&.active,
				&.active p {
					font-size: 1.38rem;
					color: var(--c-brand);
					cursor: auto;
				}
			}
		}
		&__content {
			flex: 1 1;
			> div {
				display: none;
				&.active {
					display: block;
				}
			}
			h3 {
				margin-top: 1em;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	.faq {
		--item-indents: calc(36px * var(--c));
		--item-pad: calc(76px * var(--c));
		--left-side: calc(27px * var(--c));
		--right-side: calc(40px * var(--c));
		--up-bot: calc(5px * var(--c));

		@media (--sm) {
			--item-indents: 24px;
			--item-pad: 12px;
			--left-side: calc(27px * var(--c));
			--right-side: calc(40px * var(--c));
			--up-bot: calc(5px * var(--c));
		}
		&__container {
			display: flex;
			flex-direction: column;
			gap: var(--item-indents);
		}
		&__item {
			padding: var(--item-indents) 30% var(--item-indents) var(--item-pad);
			@media (--sm) {
				padding-right: 12px;
			}
			position: relative;
			z-index: 2;
			min-height: 5.2778rem;
			&:before {
				content: '';
				background: var(--c-black);
				position: absolute;
				left: calc(var(--left-side) * -1);
				right: var(--right-side);
				top: calc(var(--up-bot) * -1);
				bottom: calc(var(--up-bot) * -1);
				z-index: -2;
				clip-path: polygon(
					calc(var(--left-side) - var(--up-bot)) 0,
					100% var(--up-bot),
					100% 100%,
					0% 100%
				);
				transition: background var(--transition);
			}
			&:after {
				content: '';
				background: var(--c-white);
				border: 1px solid var(--c-black);
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
			}
			h3 {
				color: var(--c-black);
				transition: color var(--transition);
				@media (--md) {
					overflow: hidden;
					-webkit-line-clamp: 1;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
					white-space: normal;
					max-height: 1.36em;
				}
			}
			p {
				margin-top: 1rem;
				margin-bottom: -100%;
				pointer-events: none;
				opacity: 0;
				animation: faq var(--animation);
				animation-direction: reverse;
			}
			&:not(.active) {
				cursor: pointer;
			}
			svg {
				height: 1.38rem;
				width: auto;
				color: var(--c-brand);
				position: absolute;
				right: 20%;
				top: var(--item-indents);
				transform: rotate(0deg);
				transition: transform var(--transition);
				@media (--sm) {
					display: none;
				}
			}
			&.active {
				h3 {
					color: var(--c-brand);
					@media (--md) {
						overflow: visible;
						-webkit-line-clamp: unset;
						text-overflow: unset;
						max-height: unset;
					}
				}
				p {
					pointer-events: all;
					animation: faq var(--animation);
				}
				&:before {
					background: var(--c-brand);
					transition: background var(--transition);
				}
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.form-forms {
	padding: 48px var(--inner-padding);
	margin-bottom: var(--block-indents);
	color: var(--c-white) var(--c-black);
	margin: * var(--side-padding);
	width: calc(100% - var(--side-padding) * 2);
	@media (--lg) {
		margin: * 0;
		width: 100%;
	}
	@media (--sm) {
		padding: 48px var(--side-padding);
	}
	.container {
		padding: 0;
		h3 {
			margin-bottom: 1.5rem;
		}
	}
	.form-content {
		margin-top: 1.5rem;
		.builder {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			gap: 2.77rem;
			@media (--lg-m) {
				flex-direction: column;
			}
			&-item {
				margin-bottom: 0 !important;
				display: none;
				.f-input {
					border: none;
					color: black;
					height: 2.77rem;
					text-align: center;
					&::placeholder {
						color: var(--c-black);
					}
				}
				&.part-userField,
				&.part-button {
					display: block;
					flex: 1;
				}
			}
			a.button,
			button,
			.btn.f-btn.button-md {
				color: var(--c-black) var(--c-brand) !important;
				height: 2.77rem;
				width: 100%;
				justify-content: center;
			}
		}
	}
}
