.gc-main-content .lite-page {
	/* Buttons */
	a.button,
	a.has-arrow,
	button,
	.need-arrow {
		display: flex;
		align-items: center;
		gap: 0.5em;
		width: fit-content;
	}
	a.button,
	button {
		border-radius: 0;
		border: none;
		color: var(--c-white) var(--c-black);
		font-family: inherit;
		padding: calc(10px * var(--c)) calc(48px * var(--c));
		transition: var(--transition);
		transition-property: color, background-color;
		&:hover {
			color: var(--c-black) var(--c-brand);
		}
	}
	svg {
		&.arrow-min {
			width: 1em;
		}
	}

	/* Fonts */
	h1, h2, h3, h4, h5 {
		margin: 0;
	}
	h1,
	.title {
		font-weight: 700;
		font-size: 2.888rem;
		line-height: 1.3461;
	}
	h2,
	.header1 {
		font-weight: 600;
		font-size: 1.944rem;
		line-height: 0.9714;
	}
	h3,
	.header2 {
		font-weight: 600;
		font-size: 1.3888rem;
		line-height: 1.36;
	}
	h4,
	.subtitle {
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.666;
	}
	p,
	h5,
	.std-txt {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.666;
	}
	.service-txt {
		font-weight: 400;
		font-size: 0.8333rem;
		line-height: 1.666;
	}
	.service-txt.bold {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.666;
	}
	/* Lists */
	.list {
		&-start {
			list-style: none;
			padding-inline-start: 0;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			gap: 1em;
			li {
				display: flex;
				align-items: center;
				gap: 1rem;
				&:before {
					content: '';
					display: inline-block;
					size: 25px;
					background-color: var(--c-brand);
					border-radius: 50%;
				}
			}
		}
	}
	/* Blocks */
	.container-std {
		padding: 0 var(--side-padding);
		margin: var(--content-indents) 0;
	}
	.f {
		display: flex;
		gap: var(--content-indents);
		&:not(.col) {
			align-items: center;
		}
		&.col {
			flex-direction: column;
		}
		&-2 {
			> * {
				flex: 1 1 45%;
			}
		}
	}
}
